#Generator,#Manager
{
    margin: auto;
    width: 50%;
    padding: 10px; 
    margin-top: 10px;   
    background: rgb(238,174,202);
    background: -moz-linear-gradient(231deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: -webkit-linear-gradient(231deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: linear-gradient(231deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
    border-radius: 7px;
}
input[type=text],input[type=email]
{
    color: black;
    background: none;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(0, 0, 0) !important;
}